@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1660291941382') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
    content: "\f0106";
}

.icon-renren:before {
    content: "\e6ea";
}

.icon-QQ:before {
    content: "\e882";
}

.icon-weibo:before {
    content: "\e883";
}

.icon-share:before {
    content: "\e86f";
}

