<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 100px;
            height:100px;
        }
    </style>
</head>
<body>
    <ul>
        {% for item in list %}
        <li>
            <img src="{{item.imgurl}}" alt="">
            <a href="{{item.downloadurl}}">
                {{item.title}}|提取码：{{item.code}}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>