@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663659297003') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playfill:before {
  content: "\e74f";
}

.icon-pause:before {
  content: "\e63a";
}

.icon-step-backward:before {
  content: "\e8ef";
}

.icon-step-forward:before {
  content: "\e8f0";
}

