@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1662706207780') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\f0154";
}

.icon-home2:before {
  content: "\f0175";
}

.icon-40one:before {
  content: "\e66a";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-xiaoxi-fill:before {
  content: "\e619";
}

