<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="keywords" content="前端开发,javascript,php,node,jquery,git,python,java,sql,mysql,linux,go语言,golang,前端,教程,软件,编程,互联网,晓舟报告">
    <meta name="description" content="晓舟报告是程序员学习教程, 内容涵盖WEB前端、java、python、Golang、PHP等学习内容， 内容形式包括学习资料、学习文档、学习方法、就业指导等，通过全面的学习内容，为新手程序员打下坚实的理论基础。">
    <link rel="stylesheet" href="/css/pc/layout.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pc/pc_common.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
</head>


<body>
    <div class="long">
        <div class="header">
            <div class="title">
                <a href="/"><img src="/img/pc/logo.png" alt=""></a>
            </div>
            <ul class="meun">
                <li class="">
                    <a class="a" href="/">
                        <span class="word">首页</span>
                    </a>
                </li>
                <li class="">
                    <a class="a" href="/book">
                        <span class="word">学习手册</span>
                    </a>
                </li>
                <li class="">
                    <a class="a" href="/blog">
                        <span class="word">技术博客</span>
                    </a>
                </li>
                <li class="">
                    <a class="a" href="/video">
                        <span class="word">教学视频</span>
                    </a>
                </li>
                <li class="">
                    <a class="a" href="/resource">
                        <span class="word">资源下载</span>
                    </a>
                </li>
            </ul>

            <from class="search" action="/search">
                <input type="text" placeholder="搜索" name="searchkey">
                <button>
                    <span class="glyphicon glyphicon-search text-success" aria-hidden="true"></span>
                </button>
            </from>
            
        </div>
    </div>
    <div class="hyperlink ">
        <div class="Code ">
            <img src="/img/pc/xiaozhou.jpg" alt="weixin ">
            <p style="font-size: 12px; text-align: center;">添加晓舟个人微信</p>
        </div>
        <div class="CodeTeam ">
            <img src="/img/pc/mpxiaozhou.jpg" alt="weixin ">
            <p style="font-size: 12px; text-align: center;">关注晓舟报告公众号</p>
        </div>
        <ul>
            <li class="user "><img src="/img/pc/联系人.png " alt=" "
                    onmouseover="this.src='/img/pc/联系人bu.png' "
                    onmouseout="this.src='/img/pc/联系人.png' " /></li>
            <li class="codeUser "><img src="/img/pc/微信.png " alt=" "
                    onmouseover="this.src='/img/pc/微信bu.png' "
                    onmouseout="this.src='/img/pc/微信.png' " /></li>
            <li class="toTop "><img src="/img/pc/返回顶部.png " alt=" "
                    onmouseover="this.src='/img/pc/返回bu.png' "
                    onmouseout="this.src='/img/pc/返回顶部.png' " /></li>
        </ul>
    </div>
    {% block content %} {% endblock %} {% block js %} {% endblock %}
    <script src="/js/pc/jquery-2.1.1.min.js"></script>
    <script src="/js/phone/bootstrap.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script>
        //移入移出
        $(".user ").hover(function () {
            $(".Code ").show();
        }, function () {
            $(".Code ").hide();
        });
        $(".codeUser ").hover(function () {
            $(".CodeTeam ").show();
        }, function () {
            $(".CodeTeam ").hide();
        });
        //返回顶部
        $(".toTop").click(function () {
            $("html,body").animate({
                "scrollTop": "0px"
            }, 200)
        })

        //移入移出菜单
        $(".sigin").mouseenter(function (e) {
            $(".addShow ul").removeClass('hide');
        }).mouseleave(function (e) {
            $(".addShow ul").addClass("hide")
        });




        let path = "";
        if (location.pathname.indexOf("/docs") > -1) {
            path = "/book"
        } else if (location.pathname.indexOf("/details") > -1) {
            path = "/book"
        } else if (location.pathname.indexOf("/blog") > -1) {
            path = "/blog"
        } else if (location.pathname.indexOf("/video") > -1) {
            path = "/videos"
        } else if (location.pathname.indexOf("/videosmenu") > -1) {
            path = "/videosmenu"
        } else {
            path = location.pathname;
        }

        // let url = pathData[path];

        console.log(path)
        switch (path) {
            case "/":
                setLine(0);
                break;
            case "/book":
                setLine(1);
                break;
            case "/blog":
                setLine(2);
                break;
            case "/videos":
                setLine(3);
                break;
            case "/resources":
                setLine(4);
                break;
        }

        function setLine(index) {
            $(".meun li").eq(index).addClass("active");
        }

        var swiper = new Swiper('.swiper-container', {
            autoplay: {
                delay: 2000,//1秒切换一次
            },
            loop : true,
            pagination: {
                el: '.swiper-pagination',
                dynamicBullets: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
</body>

</html>