<div class="swiper clear">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/images1.jpg">
            </div>
            <div class="swiper-slide">
                <img src="/images/images2.jpg">
            </div>
            <div class="swiper-slide">
                <img src="/images/images3.jpg">
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>